# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data directories
data/

# Model files
best_resnet_model.keras
